
button{
    text-align: center;
    font: bold 14pt/16pt arial, serif;
}
p{
    text-align: center;
}
.joinBtn:hover {
    background-color:pink;
}
.joinBtn_3:hover {
    background-color:paleturquoise;
}
.joinBtn_2:hover{
    background-color: rgb(241, 184, 241);
}
.titulo1{
    font: bold 14pt/16pt arial, serif;
    color: pink;
    text-decoration: underline pink;  
}
.verde{
    color: green;
    text-decoration: underline green;  
}
.rojo{
    font-weight: bold;
    color: red;
}
.subrayado{
    text-decoration: overline underline;
}
.grande{
    font: bold 20pt/22pt times, serif;
    font-weight: bold;
}
.azul{
    color: blue;
    font-weight: bold;
}
.rojo_sub{
    color: red;
    text-decoration: underline red;
    font-weight: bold;
}
.negro_sub{
    color: rgb(0, 0, 0);
    font: bold 16pt/18pt times, serif;
}
.negro_comillas{
    color: rgb(0, 0, 0);
    font: bold 16pt/18pt times, serif;
}
.autores{
    color: rgb(0, 0, 0);
    text-align: center;
}
.tabla_encabezados{
    color: red;
    text-align: center;
    font:bold 12pt/14pt times, serif;
}
.table{
    display:table;
    border-width: 2px;
    text-align: center;
}
.row{
   display: table-row;
}
.cell{
    border-color: rgb(0, 0, 0);
    display: table-cell;
    border-width: 1px; 
    border-style: dotted; 
    padding-left: 165px;
    padding-right: 165px;
    background-color: yellow;
    
}
.cell_2{
    border-color: rgb(0, 0, 0);
    display: table-cell;
    border-width: 1px; 
    border-style: dotted; 
    padding-left: 74px;
    padding-right:74px;
    background-color: yellow;
}

.img_derecha {
    float: right;
    margin-left: 15px;
}
.img_izquierda {
    float: left;
    margin-right: 15px;
}