body{
    background-color: pink;
}
button{
    text-align: center;
    font: bold 14pt/16pt arial, serif;
}
.joinBtn:hover {
    background-color:pink;
}
.titulo1{
    font: bold 14pt/16pt arial, serif;
    color: pink;
    text-decoration: underline pink;  
}
.verde{
    color: green;
    text-decoration: underline green;  
}
.rojo{
    font-weight: bold;
    color: red;
}