body{
    background-color: pink;
}
button{
    text-align: center;
    font: bold 14pt/16pt arial, serif;
}
.joinBtn:hover {
    background-color:pink;
}
.titulo1{
    font: bold 14pt/16pt arial, serif;
    color: pink;
    text-decoration: underline pink;  
}
.verde{
    color: green;
    text-decoration: underline green;  
}
.rojo{
    font-weight: bold;
    color: red;
}
.subrayado{
    text-decoration: overline underline;
}
.grande{
    font: bold 20pt/22pt times, serif;
    font-weight: bold;
}
.azul{
    color: blue;
    font-weight: bold;
}
.rojo_sub{
    color: red;
    text-decoration: underline red;
    font-weight: bold;
}
p{
    text-align: justify;
}
.tabla_encabezados{
    color: red;
    text-align: center;
    font: italic 14pt/16pt times, serif;
}
table{
    width: 50%;
    border: 1px solid #000;
    color: black; 
    border-collapse: collapse;
    background-color: yellow;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }